{{ define "content" }}
<h2 class="mb4">Edit User</h2>
{{ if .Error }}
<div>
    <div class="alert alert-danger">
        {{.Error }}
    </div>
</div>
{{ end }}
<div class="card mb-4">
    <div class="card-body">
        <form action="/users/update/{{ .ID }}" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Enter Your Name" required class="form-control" value="{{ .Name }}">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Enter Your Email" required class="form-control" value="{{ .Email }}">
            </div>
            <div class="form-group">
                <label for="occupation">Occupation</label>
                <input type="text" name="occupation" placeholder="Enter Your Occupation" required class="form-control" value="{{ .Occupation }}">
            </div>
            <!-- <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter Your Password" required class="form-control" value="">
            </div> -->

            <div>
                <button type="submit" class="btn btn-primary">
                Submit
            </button>
            </div>
        </form>
    </div>
</div>
< {{ end }}