{{ define "content" }}
<h2 class="mb4">List of Campaigns</h2>
<a href="/campaigns/new" class="btn btn-primary mb-3">
    <i class="fas fa-plus-circle"></i> New Campaign
</a>
<div class="card mb-4">
    <div class="card-body">
        <table class="table mb-0">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Owner</th>
                    <th>Nama Projek</th>
                    <th>Short Description</th>
                    <th>Goal Amount</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ range .campaigns }}
                <tr>
                    <td>
                        {{ if .CampaignImages}}
                        <img src="/{{ (index .CampaignImages 0).FileName }}" width="60" class="img-fluid img-thumbnail"> {{ end }}
                    </td>
                    <td>{{ .User.Name}}</td>
                    <td>{{ .Name}}</td>
                    <td>{{ .ShortDescription }}</td>
                    <td>{{ .GoalAmountFormat}}</td>
                    <td>
                        <a href="/campaigns/{{ .ID }}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>
                        <a href="/campaigns/image/{{ .ID }}"><i class="fas fa-camera"></i></a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}