{{ define "content" }}
<h2 class="mb4">Create New Campaign</h2>
{{ if .Error }}
<div>
    <div class="alert alert-danger">
        {{.Error }}
    </div>
</div>
{{ end }}
<div class="card mb-4">
    <div class="card-body">
        <form action="/campaign" method="post">
            <div class="form-group">
                <label for="user_id">User</label>
                <select name="user_id" id="user_id" class="form-control">
                    <option value="">-- Select User</option>
                    {{ range .Users }}
                        {{ if eq .ID $.UserID }}
                        <option value="{{ .ID }}" selected>{{ .Name }}</option>
                        {{ else }}
                            <option value="{{ .ID }}">{{ .Name }}</option>
                        {{ end }}
                    {{ end }}
                </select>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Enter Your Name" required class="form-control" value="{{ .Name }}">
            </div>
            <div class="form-group">
                <label for="short_description">Short Description</label>
                <textarea name="short_description" id="short_description" cols="30" rows="5" class="form-control" placeholder="Enter Short Description">{{ .ShortDescription }}</textarea>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" cols="30" rows="5" placeholder="Enter Description" class="form-control">{{ .Description }}</textarea>
            </div>
            <div class="form-group">
                <label for="goal_amount">GoalAmount</label>
                <input type="number" name="goal_amount" placeholder="Enter Your Occupation" required class="form-control" value="{{ .GoalAmount }}">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="perks" placeholder="Enter Perks (comma separated)" required class="form-control" value="{{ .Perks }}">
            </div>

            <div>
                <button type="submit" class="btn btn-primary">
                Submit
            </button>
            </div>
        </form>
    </div>
</div>
< {{ end }}